.post {
  padding: 1rem;
}

.post__title {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.post__edit-button, .post__delete-button, .post__add-comment-button {
  cursor: pointer;
  background: none;
  padding: .5rem;
  border: .01rem solid #333;
  margin-right: .3rem;
  outline: none;
  transition: background .3s ease-out;

  &:hover {
    color: #fff;
    background: #333;
  }
}
